<mat-grid-list cols="24" rowHeight="20:1">
    <mat-grid-tile colspan=24 rowspan=75></mat-grid-tile>

    <mat-grid-tile colspan=10 rowspan=20></mat-grid-tile>

    <mat-grid-tile colspan=4 rowspan=20 id="calc-display">{{displayText}}</mat-grid-tile>

    <mat-grid-tile colspan=10 rowspan=20></mat-grid-tile>

    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>

    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="modulo()">%</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="reset()">C</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="deleteLast()">Del</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="divide()">/</button>
    </mat-grid-tile>

    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>
    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>

    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="seven()">7</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="eight()">8</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="nine()">9</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="multiply()">*</button>
    </mat-grid-tile>

    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>
    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>

    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="four()">4</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="five()">5</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="six()">6</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="subtract()">-</button>
    </mat-grid-tile>

    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>
    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>

    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="one()">1</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="two()">2</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="three()">3</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="add()">+</button>
    </mat-grid-tile>

    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>
    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>

    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="negate()">±</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="zero()">0</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="dot()">.</button>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=10>
        <button mat-flat-button color="primary" (click)="solve()">=</button>
    </mat-grid-tile>

    <mat-grid-tile colspan=10 rowspan=10></mat-grid-tile>
</mat-grid-list>